
header, section, nav {
    display: flex;
    justify-content: center;
}
nav {
    
    flex-flow: row nowrap;
    justify-content: center;
    
}

main nav button, input {
    margin: 5px;
    
}
main nav input {
    width: 40px;
    
}

h1, #footer{
    color: white;
    background-color: black;
    min-width:100%;
    text-align: center;
}
#main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    flex-flow: column nowrap;
    background-color: rgba(173, 173, 171, 0.459);
    min-height: 80vh;
    padding: 1vh;
    
}
#s-container {
   background-color: darkcyan;
   padding: 10%;
   margin-left: 10vw;
   margin-right: 10vw;
   border: 1px solid white;
    
}
#core-container {
    background-color: rgb(232, 238, 238);
    border: 1px solid white;
     
 }
#color-palette {
    display: inline-block;
    
}
.color {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#pixel-board { 
    border: solid 1px black;
}

td.pixel { 
    width: 40px;
    height: 40px;
    border: solid 1px black;
    background-color: white;
    

}
